.Header {
  display: flex;
  justify-content: center;
  color: rgb(54, 152, 165);

  & > .header-name {
    position: absolute;
    margin-top: 2.5rem;
    left: 90%;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: rgb(54, 152, 165);
      font-size: 1.2rem;
    }

    &:hover::after {
      content: "Logout";
      position: absolute;
      top: -95%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(54, 152, 165, 0.8);
      color: white;
      padding: 0.3rem 0.5rem;
      border-radius: 0.3rem;
      font-size: 0.9rem;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
.Body {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  flex-wrap: wrap;

  & > .Body-Container {
    color: rgb(184, 109, 39);
    background-color: rgb(40, 32, 32);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    & > .task-prior {
      display: inline;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 1rem;
      margin: 0;
      color: rgb(54, 152, 165);
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0.2rem 0.4rem;
      border-radius: 0.3rem;
      font-weight: bold;

      & > .task-complete {
        background-color: rgb(40, 32, 32);
        border: none;
        cursor: pointer;
        color: rgb(54, 152, 165);
        font-size: 1rem;
        border-radius: 50%;
        padding: 0.2rem;
        margin-left: 3.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
      }

      & > .task-edit {
        background-color: rgb(40, 32, 32);
        border: none;
        cursor: pointer;
        color: rgb(54, 152, 165);
        font-size: 1rem;
        border-radius: 50%;
        padding: 0.2rem;
        margin-left: 0.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
      }

      & > .task-delete {
        background-color: rgb(40, 32, 32);
        border: none;
        cursor: pointer;
        color: rgb(54, 152, 165);
        font-size: 1rem;
        border-radius: 50%;
        padding: 0.2rem;
        margin-left: 0.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    & > .task-name {
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
    }

    & > .task-desc {
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    & > .task-due-date {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  & > .Add-Task {
    & > .Add-Task-Button {
      margin-top: 3.5rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: rgb(40, 32, 32);
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        z-index: -1;
        filter: blur(5px);
        animation: none;
        transition: all 0.3s ease;
        border-radius: 50%;
        opacity: 0;
      }

      &:hover::before {
        animation: glowing 20s linear infinite;
        opacity: 1;
      }

      & svg {
        width: 2rem;
        height: 2rem;
        color: rgb(54, 152, 165);
      }
    }
  }
}
